html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: lightskyblue;
}

#top {
  text-align: center;
  margin: 0 auto;
}

#top h1 {
  font-size: 2em;
}

#content {
  margin-top: 100px;
  font-size: 2em;
  text-align: center;
}

#results {
  display: flex;
  /* flex-direction: column; */
  border: 1px solid white;
  text-align: center;
  padding: 12px;
}

.artistName, .artistSong {
  display: inline;
  font-size:20px;
}

/* .artistSong
{
  position: absolute;
  margin-left: auto; 
  margin-right: auto; 
  width: 100px; 
} */


.btn {
  background-color:lightskyblue;
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  position: absolute;
  right:10px;
}

.btn:hover {
  color: #ff4c4c;
  text-align:center;
}